<template>
  <h5>UpLoader File</h5>
  <form>
    <div class="form-group">
      <div class="input-wrapper" :class="[drag ? 'input-wrapper-big' : 'input-wrapper-small']">
        <label for="my-file" class="label-file-loader" @drag="addFiles" v-if="drag" @dragenter="dragging = true"
          @dragleave="dragging = false">
        </label>
        <label for="my-file" :class="[
          drag ? 'label-file-loader-drop' : 'label-file-loader-non-drop ',
        ]">
          <div :key="buttonText">{{ buttonText }}</div>
          <img src="../assets/camera-gray.svg" alt="" v-if="!file_list.length && drag" class="label-file-loader-img" />
          <img src="../assets/camera.svg" alt="" v-else-if="file_list.length && drag" class="label-file-loader-img" />
          <input type="file" :accept="props.accept" :multiple="props.multiple" @change="addFiles" class="input-uploader"
            id="my-file" />
        </label>
      </div>
      <div v-if="preview_list.length">
        <p>Preview Here:</p>
        <div class="file-container">
          <div v-for="(item, index) in otherFiles" :key="index" class="preview-item">
            <div>
              <div class="preview-item__text">
                file name: {{ item.name }}
              </div>
              <div class="preview-item__text">
                size: {{ Math.round(item.size / 1024) }}KB
              </div>
            </div>
            <button type="button" class="preview-item__delete" @click="removeFile(item.name)">
              <img src="../assets/close-circle.svg" />
            </button>
          </div>
          <div v-for="(item, index) in imageFiles" :key="index" class="preview-item">
            <div class="preview-item__text">
              <p class="mb-0">file name: {{ file_list[index].name }}</p>
              <p>size: {{ Math.round(file_list[index].size / 1024) }}KB</p>
            </div>
            <img :src="item" class="preview-item__image" />
            <button type="button" class="preview-item__delete" @click="removeFile(file_list[index].name)">
              <img src="../assets/close-circle.svg" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>
<script>
import { ref, computed } from 'vue'

export default {
  props: {
    multiple: {
      type: Boolean,
      default: true,
      required: false,
    },
    maxSize: {
      type: Number,
      default: 0,
      required: false,
    },
    accept: {
      type: Array,
      default: function () {
        return ["file"]
      },
      required: false,
    },
    drag: {
      type: Boolean,
      default: true,
      required: false,
    },
  },
  emits: ['emitFiles'],
  setup(props, context) {
    const dragging = ref(false)
    const preview_list = ref([])
    const file_list = ref([])

    const addFiles = (event) => {
      event.preventDefault();

      var inputFiles = event.target.files || event.dataTransfer.files;
      var count = inputFiles.length;
      var index = 0;
      for (let i of inputFiles) {
        if (i.size > props.maxSize && props.maxSize > 0) {
          alert(`размер файла ${i.name} больше максимально допутимого`);
        }
      }
      if (inputFiles) {
        while (count--) {
          var reader = new FileReader();
          reader.onload = (e) => {
            preview_list.value.push(e.target.result)
          };
          if (
            (props.maxSize > 0 && inputFiles[index].size < props.maxSize) ||
            props.maxSize === 0
          ) {
            file_list.value.push(inputFiles[index]);
            reader.readAsDataURL(inputFiles[index]);
          }
          index++;
        }
      }
      context.emit("emitFiles", file_list.value);
    }
    const removeFile = (name) => {
      file_list.value.forEach((item, index) => {
        if (item.name === name) {
          preview_list.value.splice(index, 1);
          file_list.value.splice(index, 1);
        }
      })

      context.emit("emitFiles", file_list.value);
    }
    const buttonText = computed(() => {
      if (props.drag) {
        return "Выберите или перетащите файлы";
      } else {
        return "Прикрепить";
      }
    })
    const otherFiles = computed(() => {
      return file_list.value.filter(file => file.type.substring(5, 0) !== 'image')
    })
    const imageFiles = computed(() => {
      let imageObj = {}
      preview_list.value.forEach((file, index) => {
        if (file.substring(10, 5) === 'image') {
          imageObj[index] = file
        }
      })
      return imageObj
    })
    return {
      imageFiles, otherFiles, buttonText, removeFile, addFiles, file_list, preview_list, dragging, props
    }
  }
}
</script>

<style lang="scss" scoped>
.preview-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  transition: 1s;
  padding: 0 5px;
  margin: 5px 0;
}

.preview-item:hover {
  background: wheat;
  transition: 1s;
}

.preview-item__text {
  margin: 5px 0;
  text-align: left;
}

.preview-item__image {
  margin-left: auto;
  margin-right: 15px;
  width: 200px;
  border-radius: 5px;
}

.label-file-loader-img {
  display: block;
  margin-top: 10px;
}

.input-wrapper {
  margin: 0 auto;
  position: relative;
}

.input-wrapper-big {
  height: 200px;
  border: 5px dashed gray;
  width: 60%;
  border-radius: 5px;
  transition: 1s;
}

.input-wrapper-big:hover {
  border: 3px dotted red;
  transition: 1s;
}

.input-wrapper-small {
  width: 170px;
  height: 50px;
}

.label-file-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 60%;
}

.label-file-loader-non-drop {
  width: 140px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  transition: 1s;
}

.label-file-loader-drop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label-file-loader-non-drop:hover {
  cursor: pointer;
  opacity: 0.85;
  border: 1px solid red;
  transition: 1s;
}

.input-uploader {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.file-container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid gray;
}

.preview-item__delete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  transition: .3s;
}

.preview-item__delete:hover {
  cursor: pointer;
  background: greenyellow;
  transition: .3s;
}

.form-group {
  position: relative;
  width: 60%;
  margin: 0 auto;
}

.label {
  display: block;
}
</style>
