<template>
  <FileUpLoader :multiple='multiple' :maxSize="maxSize" :drag="drag" :accept="accept" @emitFiles="emitFiles" />
</template>

<script>
import FileUpLoader from "./components/FileUpLoader.vue"
import { unref, ref } from 'vue'

export default {
  name: 'App',
  components: {
    FileUpLoader
  },
  setup() {
    const dataFiles = ref([])
    const multiple = unref(true)
    const maxSize = unref(100000000)
    const drag = unref(false)
    const accept = unref(["file*"])
    const emitFiles = (inputFiles) => {
      dataFiles.value = inputFiles
    }
    return {
      emitFiles, accept, drag, maxSize, multiple
    }
  }
}
</script>

<style>
#app {
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
